
/* ======================= */
/* Global Styles */
/* ======================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
}

:root {
  /* colors */
  --primary-col-dark: #495e57;
  --primary-col-light: #f4ce14;
  --secondary-col-dark: #ee9972;
  --secondary-col-light: #fbdabb;
  --high-col-dark: #333333;
  --high-col-light: #edefee;

  /* fonts */
  --title: 500 6.4rem "Markazi Text", serif;
  --m_title: 500 5rem "Markazi Text", serif;
  --subtitle: 400 4rem "Markazi Text", serif;
  --m_subtitle: 400 3rem "Markazi Text", serif;
  --section-title: 800 2rem "Karla", sans-serif;
  --card-title: 500 2.4rem "Markazi Text", serif;
  --card-price: 700 1.6rem "Karla", sans-serif;
  --cta: 500 1.8rem "Karla", sans-serif;
  --p: 400 1.6rem "Karla", sans-serif;
}

/* img {
  width: 100%;
  height: 100%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.btn {
  background-color: var(--primary-col-light);
  border-radius: 8px;
  border: none;
  color: var(--high-col-dark);
  font: var(--cta);
  padding: 1.6rem 3.2rem;
  transition: 0.3s ease-in-out;
  width: 250px;
}

.btn:hover {
  background-color: var(--secondary-col-light);
}


/* ======================= */
/* Header & Navigation */
/* ======================= */

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 912px;
  margin: 0 auto;
  justify-content: space-between;
  
}

.header-wrapper {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  margin: auto 0;
}

.logo img {
  height: 60px;
  margin: 0;
}

.nav-list {
  display: none;
  list-style: none;
  position: absolute;
  right: 0px;
  top: 70px;
  background: rgb(255, 255, 255, 0.8);
}

.nav-list.open {
  display: block;
  z-index: 5;
}

.hamburger.open :nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 12px;
}

.hamburger.open :nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -12px;
}

.hamburger.open :nth-child(2) {
  opacity: 0;
  transition: 0.4s ease-out;
}

.hamburger.open {
  transition: 0.4s ease-out;
}

.nav-link {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
}

.hamburger span {
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  background-color: var(--primary-col-dark);
  margin: 6px 0;
  transition: 0.4s ease-out;
}

.nav-link a {
  text-decoration: none;
  font: var(--card-title);
  color: var(--primary-col-dark);
  padding: 1rem;
  margin: 1rem 2rem;
  transition: 0.2s ease-out;
}

.nav-link a:not(.active):hover {
  background-color: var(--high-col-light);
  border-radius: 16px;
}

.active {
  background-color: var(--secondary-col-light);
  border-radius: 16px;
}

@media screen and (min-width: 800px) {


  .logo {
    flex-basis: 25%;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
  }

  .nav-link a {
    padding: 1rem;
    margin: 0;
  }

  .hamburger {
    display: none;
  }
}

/* ======================= */
/* Hero Section */
/* ======================= */

.hero-wrapper::before {
  height: 80%;
  background: var(--primary-col-dark);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.hero-wrapper {
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 912px;
}

.hero-image {
  width: 80%;
  border-radius: 32px;
  margin: 0 auto;
  padding: 1rem;
}

.hero-text {
  display: flex;
  padding: 2rem;
  flex-direction: column;
}

.hero-title {
  font: var(--m_title);
  color: var(--primary-col-light);
  line-height: 1;
}

.hero-subtitle {
  font: var(--m_subtitle);
  color: var(--high-col-light);
  line-height: 1;
}

.hero-p {
  font: var(--p);
  color: var(--high-col-light);
  line-height: 1.5;
  padding: 2rem 0;
  width: 90%;
}

.hero-btn {
  align-self: center;
}

@media screen and (min-width: 568px) {
  .hero {
    flex-direction: row;
    padding: 2rem;
  }

  .hero-image {
    width: 45%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .hero-title {
    font: var(--title);
    color: var(--primary-col-light);
    line-height: 1;
  }

  .hero-subtitle {
    font: var(--subtitle);
  }

  .hero-p {
    font: var(--p);
  }

  .hero-btn {
    align-self: flex-start;
  }
}

/* ======================= */
/* Highlights Section */
/* ======================= */

.highlights {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  max-width: 912px;
  margin: 0 auto;
}

.hi-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 1rem;
}

.hi-title {
  font: var(--subtitle);
  color: var(--high-col-dark);
}

.hi-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0 auto;
}

.hi-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  background-color: var(--high-col-light);
  margin: 1rem 1rem;
  border-radius: 16px 16px 0 0;
}

.hi-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.hi-card-title {
  font: var(--card-title);
  color: var(--high-col-dark);
}

.hi-card-price {
  font: var(--card-price);
  color: var(--secondary-col-dark);
}

.hi-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.hi-card-desc {
  padding: 1.5rem;
  font: var(--p);
  color: var(--primary-col-dark);
}

.hi-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.hi-card-bottom img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.hi-card-order {
  font: var(--cta);
  color: var(--primary-col-dark);
  text-decoration: none;
}

/* ======================= */
/* About Section */
/* ======================= */

.about {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  max-width: 912px;
  margin: 0 auto;
  align-items: center;
  height: 100%;
}

.about-wrapper {
  background: linear-gradient(180deg, var(--high-col-light), white);
  min-height: 480px;
}

.about-text {
  text-align: center; 
  padding: 1rem;
}

.about-img {
  padding: 1rem;
  text-align: center;
}

.about-img img {
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0 0.5rem;
}

.about-title {
  font: var(--m_title);
  color: var(--primary-col-dark);
  line-height: 1;
}

.about-subtitle {
  font: var(--m_subtitle);
  color: var(--high-col-dark);
  line-height: 1;
}

.about-p {
  font: var(--p);
  color: var(--high-col-dark);
  line-height: 1.5;
  padding: 2rem 0;
}

@media screen and (min-width: 700px) {

  .about {
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
  }

  .about-text {
    text-align: left;
    flex-basis: 40%;
  }

  .about-img {
    flex-basis: 60%;
    text-align: end;
    position: relative;

  }

  .about-img img:nth-child(1) {
    position: absolute;
    bottom: -6vw;
    right: 22vw;
  }

  .about-p {
    width: 80%;
  }

}